.docusaurus/
build/
node_modules/
.github/
docs/members/Arizona/
docs/members/BYU/
docs/members/Hawaii/
docs/members/Iowa/
docs/members/Minnesota/
docs/members/SanDiego/
docs/members/Saskatchewan/
docs/members/Scripps/
docs/members/Tuskegee/
docs/members/UAH/
docs/members/Utah/
docs/members/UtahState/
docs/members/Vermont/