.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.flexcontainer1{

  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: nowrap;

}
.flexcontainer1 > div {
  display: block;
  width:50%;

}
.flexcontainer2{

  display: flex;
  flex-direction: row;
  width:50%;
  flex-wrap: nowrap;

}

.imagecontainer{
  display:block;
  width:300px;
  height: 140px;
  text-align: center;
  

}
.heading1{
  font-size: 2.1rem;
  font-weight: 700;
  color: #2d3748;
  margin-bottom: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (dark-theme= "dark") {
  .logocontainer {
    filter: invert(1);
  }
}
.logocontainer
{
  margin-bottom: 4rem;
}
[data-theme='dark']  .bgcontainer{
  background-color: #A9A9A9;
  padding: 0 0;
  margin-top: 5%;
  width:100%;
  border-radius:17px;
}
/* turn on invert filter for logo container when dark mode is on for docusauras */


