.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.imagecontainer{
  display:block;
  margin:1.3rem auto;
  height:auto;

}
.heading{
  font-size: 2.1rem;
  font-weight: 700;
  color: #2d3748;
  margin-bottom: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (dark-theme= "dark") {
  .logocontainer {
    filter: invert(1);
  }
}


[data-theme='dark']  .bgcontainer{
  background-color: #A9A9A9;
  padding: 0 0;
  margin-top: 5%;
  width:100%;
  border-radius:17px;
}
/* turn on invert filter for logo container when dark mode is on for docusauras */

.heroBanner {
  padding: 3rem 4rem 0rem 4rem;
  text-align: left;
  position: relative;
  overflow: auto;
  margin: 3rem 0rem;
  border-radius: 20px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroimage{
  width: 30%;
  margin: auto 0;
  height: 100%;
}


  @media screen and (max-width: 1440px) {
    /* Styles for small devices */
  
    .heroBanner {
      padding: 3rem 4rem 3rem 4rem;
    }
  }
@media screen and (max-width: 940px) {
  /* Styles for small devices */

  .heroimage{
    width:310px;
    
  }
}
@media screen and (max-width: 840px) {
  /* Styles for small devices */

  .heroimage{
    width:0px;
  }
}
