/* General styling for the section */
.padded-page-section {
    padding: 60px 0;
}

/* Container adjustments */
.container-feature {
    margin: 1.3rem auto;
    max-width: 1300px;
}

/* Section Title */
h2.text-center-feature {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/* Divider */
hr.divider-feature {
    width: 60px;
    height: 4px;
    background-color: #19a7ce;
    border: none;
    margin: 10px auto 30px;
}

/* Responsive grid items */
.row-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.col-lg-3-feature, .col-md-6-feature {
    flex: 1 1 350px;
    max-width: 350px;
    display: flex;
}
.feature-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Feature box styling */
.mt-5-feature {
    background: var(--ifm-card-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    text-align: center;
    width: 100%;
}

.mt-5-feature:hover {
    transform: translateY(-5px);
}

/* Icon styling */
.mb-2-feature i {
    color: #007bff;
    transition: color 0.3s;
}

.mb-2-feature i:hover {
    color: #0056b3;
}

/* Headings */
h3.h4 {
    font-size: 1.5rem;
    color: var(--ifm-card-color);
}

/* Description text */
.text-muted-feature {
    color: var(--ifm-card-color);
    font-size: 1rem;
}