
.card_1 {
     background-color: var(--ifm-card-background-color);
     border-radius: var(--ifm-card-border-radius);
     box-shadow: var(--ifm-global-shadow-lw);
     display: flex;
     flex-direction: column;
     overflow: hidden
}


.padding--lg_1 {
     padding: 2rem!important
}
 

.row {
     display: flex;
     flex-wrap: wrap;
     margin: 0 calc(var(--ifm-spacing-horizontal)*-1)
 }
 
 .list_card article:last-child,.margin-bottom--none,.margin-vert--none,.markdown>:last-child {
     margin-bottom: 0!important
 }


.cardContainer_card {
     --ifm-link-color: var(--ifm-color-emphasis-800);
     --ifm-link-hover-color: var(--ifm-color-emphasis-700);
     --ifm-link-hover-decoration: none;
     border: 1px solid var(--ifm-color-emphasis-200);
     box-shadow: 0 1.5px 3px 0 #00000026;
     transition: all var(--ifm-transition-fast) ease;
     transition-property: border,box-shadow
 }
 
 .cardContainer_card:hover {
     border-color: var(--ifm-color-primary);
     box-shadow: 0 3px 6px 0 #0003
 }
 