/* CommunityImpact.module.css */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.impactGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 2rem;
}
.sectionDivider {
  margin: 3rem auto;
  width: 100%;
  height: 1px;
  background: #7f7878;     /* Optional: to match your content width */
}
.postCard {
  padding: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.postCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.postImage {
  height: 250px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.postImage img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.postImage:hover img {
  transform: scale(1.03);
}

.impactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.impactIcon {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}

.impactTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  min-height: 3rem; /* Set a minimum height to ensure equal spacing */
  line-height: 1.2;  /* Ensure consistent line spacing for multiline titles */
}

.impactCount {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .impactGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.blog-filter-container {
  margin: 2rem 0;
}

.tag-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #f1f3f4;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.button:hover {
  background-color: #e2e6ea;
}

.button--active {
  background-color: #007bff;
  color: white;
}

.margin-left--sm {
  margin-left: 0.5rem;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom:1.7rem;
  text-align: center;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 1.5rem;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-title {
  font-size: 1.25rem;
  margin: 0;
  transition: color 0.3s ease;
}

.post-description {
  margin: 0.5rem 0;
  color: #525456;
}

.post-date {
  color: #555759;
  font-size: 0.875rem;
}

.center{
  text-align: center;
}

.btn {
font-size: 1.4rem;
padding: 0.5rem 1rem;
border-radius: 20px;
transition: all 0.3s ease;
margin: 0.25rem;
font-weight: 600;
text-transform: capitalize;
}

.btn:hover {
background: #f0f0f0;
transform: translateY(-1px);
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
