[data-theme="light"] .darkImage {
    display: none; /* Hide dark image in light mode */
  }
  
  [data-theme="light"] .lightImage {
  display: block; /* Show light image in light mode */
  }
  
  [data-theme="dark"] .lightImage {
  display: none; /* Hide light image in dark mode */
  }
  
  [data-theme="dark"] .darkImage {
  display: block; /* Show dark image in dark mode */
  }