/* cards */
.cardLink {
    text-decoration: none !important;
    color: inherit;
    display: block;
  }

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.card {
    border-radius: var(--ifm-global-radius);
    background-color: var(--ifm-card-background-color);
    border: 1px solid var(--ifm-color-emphasis-200);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    height: 500px;
}
  
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.cardImage {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
    padding: 10px 10px 2.5px 10px;

}
.cardImageContainer{
    height: 300px;
    padding: 40px 40px 10px 40px;
}
.cardContent {
    padding: 1rem;
    height: 50%;
}
  
:root[data-theme='dark'] .cardContent {
    background-color: #2c2c2e;
    color: var(--ifm-font-color-base-inverse);
}

.cardTitle {
    font-size: 20px;
    margin: 0 0 1.5rem;
    color: var(--ifm-color-primary);
}

.cardDescription {
    font-size: 16px;
    color: #333;
    margin: 0;
    color: var(--ifm-font-color-secondary);
}

@media {
    .cardContainer {
      grid-template-columns: 1fr;
      align-items: center;
    }
    .card {
        max-width: 320px;
        width: 100%;
        margin: 0 auto; 
      }
}